{{ ansible_managed | comment }}
; Config per update-fixtures.php (formato ini)
FD_TOKEN="{{ sportspress_fixtures_fd_token }}"
FD_TEAM_ID="{{ sportspress_fixtures_fd_team_id }}"
FD_SEASON="{{ sportspress_fixtures_fd_season }}"
FD_COMPETITION="{{ sportspress_fixtures_fd_competition }}"
SP_LEAGUE="{{ sportspress_fixtures_sp_league }}"
SP_SEASON="{{ sportspress_fixtures_sp_season }}"
