{{ ansible_managed | comment }}
[Unit]
Description=Timer giornaliero aggiornamento orari SportsPress

[Timer]
OnCalendar={{ sportspress_fixtures_on_calendar }}
RandomizedDelaySec={{ sportspress_fixtures_randomized_delay }}
Persistent=true

[Install]
WantedBy=timers.target
